
  version: "3.9"

  services:
    db:
      image: postgres:16.0
      container_name: library-db
      environment:
        POSTGRES_PASSWORD: ${DB_PASSWORD}
        POSTGRES_USER: ${DB_USER}
        POSTGRES_DB: ${DB_NAME}
      ports:
        - "5432:5432"
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
        interval: 10s
        timeout: 5s
        retries: 5
      volumes:
        - db-data:/var/lib/postgresql/data

    backend:
      build: ./backend  # нужен build, а не image
      container_name: library-backend
      ports:
        - "8080:8080"
      environment:
        SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${DB_NAME}
        SPRING_DATASOURCE_USERNAME: ${DB_USER}
        SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      depends_on:
        db:
          condition: service_healthy

    frontend:
      build: ./frontend
      container_name: library-frontend
      ports:
        - "3000:80"
      environment:
        REACT_APP_API_URL: http://localhost:8080
      depends_on:
        - backend

  volumes:
    db-data: