version: "3.9"

services:
  backend:
    image: library-backend
    container_name: library-backend
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    container_name: library-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
  db:
    image: postgres:16.0
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - db-data:C:\Program Files\PostgreSQL\18\data
volumes:
  db-data: